
//===BreakPoints===
$xxs:375px;
$xs:576px;
$sm:768px;
$md:992px;
$lg:1024px;
$xl: 1280px;
$xxl:1800px;

$text-font: 'roboto';
$headline-font: 'roboto';

//===Font Weights===
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-book: 350;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// ===Colors===
$color-primary: #0432EB;
$color-secondary:#05ACB7;
$color-tertiary:#00CCF2;
$text-color-dark: #000;
$text-color-blue: #0432EB;
$text-color-light:#fff;


// Desktop text sizes
$dsk-headline--1: 4rem;
$dsk-headline--2: 4rem;
$dsk-article-headline-1: 3.2rem;
$dsk-article-paragraph-1: 2rem;
$dsk-article-paragraph-2: 1.8rem;

// Laptop 1280px
$lap-headline--1: 4rem;
$lap-headline--2: 4rem;
$lap-article-headline-1: 3.2rem;
$lap-article-paragraph-1: 2rem;
$lap-article-paragraph-2: 1.8rem;

// ipad pro text sizes
$ipro-headline--1: 4rem;
$ipro-headline--2: 4rem;
$ipro-article-headline-1: 3.2rem;
$ipro-article-paragraph-1: 2rem;
$ipro-article-paragraph-2: 1.8rem;

// ipad text sizes
$ipad-headline--1: 4rem;
$ipad-headline--2: 4rem;
$ipad-article-headline-1: 3.2rem;
$ipad-article-paragraph-1: 2rem;
$iprd-article-paragraph-2: 1.8rem;

// mobile  text sizes
$mob-headline--1: 3.5rem;
$mob-headline--2: 3.5rem;
$mob-article-headline-1: 3.2rem;
$mob-article-paragraph-1: 2rem;
$mob-article-paragraph-2: 1.8rem;

